{% block javascript %}
<script>
function initMap() { var myLatLng = {lat: {{ sign.lat_sign }}, lng: {{ sign.lon_sign }}}; var map = new google.maps.Map(document.getElementById('map'), { zoom: 20, center: myLatLng }); var marker = new google.maps.Marker({ position: myLatLng, map: map, title: 'Hello World!' }); }
//function initMap() { var myLatLng = {lat: {{ sign.ocr.panorama.lat }}, lng: {{ sign.ocr.panorama.lon }}}; var map = new google.maps.Map(document.getElementById('map'), { zoom: 20, center: myLatLng }); var marker = new google.maps.Marker({ position: myLatLng, map: map, title: 'Hello World!' }); }

</script>
{% endblock %}

{% block body_block %}

<style>
 #map {
     height: 400px;
     width: 400px;
} 
</style>
lat: {{ sign.lat_sign }}, lng: {{ sign.lon_sign }}
<div id="map"></div>
<!-- Replace the value of the key parameter with your own API key. --> 
<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"> </script>

<br />
{{ sign.text }}
<br />
charset = {{ sign.languages }}
<br />
heading = {{ sign.absolute_heading }}
<br />
distance = {{ sign.distance }}
<br />
confidence = {{ sign.confidence }}
<br />
<br />
<iframe src="{% url 'panoramas:googleViewer' sign.ocr.panorama.pk %}" width="620" height="320">
</iframe>


{% endblock %}


