{% block javascript %}

{% endblock %}

{% block body_block %}

neighborhood_pk = {{ neighborhood.pk }}

<h1>Neighboring panoramas</h1>
{% for p in neighborhood.panoramas.all %}
  <a href="{% url 'panoramas:detail' p.pk %}">panorama pk={{p.pk}}</a>
  <br />
{% endfor %}

<h1>Center panorama</h1>
center is panorama pk={{neighborhood.centerPanorama.pk}}

{% endblock %}


