{% block javascript %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

<script>
/**
 * Sets all our panos to point in a particular direction.
 */

var MCPanoID = "{{panorama.panoid}}";
var MCHeading = 0 //"{{panorama.heading}}"
function initializeAllPanos() {
  panoId = MCPanoID
  setStreetViewPanorama('panoBig', panoId, MCHeading, 0);
}
 
/**
 * Sets up the given div as a StreetView Panorama, with the given view angles.
 * @param {string} panoId The panorama id. Eg: 'RJd2HuqmShMAAAQfCa3ulg'.
 * @param {number} headingAngle The degree angle offset from North (clockwise?).
 * @param {number} pitchAngle The degree angle upset up/down.
 */
function setStreetViewPanorama(divId, panoId, headingAngle, pitchAngle) {
  var panoramaOptions = {
    // pano: panoId,  // Wanted to demonstrate 'setPano' instead.
    pov: {
      heading: headingAngle,
      pitch: pitchAngle,
      zoom: 1
    }
  };
  var panorama = new google.maps.StreetViewPanorama(document.getElementById(divId), panoramaOptions);
  panorama.setPano(panoId);
}
 
google.maps.event.addDomListener(window, 'load', initializeAllPanos);
</script>

{% endblock %}

{% block body_block %}
<div id="panoBig" style="width: 600px; height: 300px;"></div>
{% endblock %}


