{% block javascript %}
{% endblock %}

{% block body_block %}

<h1>ain ={{ain}}</h1>


<h2>Links to ocr</h2>
{% for ocr_pk in ocr_pks %}
  <a href="{% url 'viewer:overlaySignsFOV' ocr_pk=ocr_pk fov=130 %}">{% url 'viewer:overlaySignsFOV' ocr_pk=ocr_pk fov=180 %}</a> <br />
{% endfor %}

<br />
<br />
<br />

<h2>Links to ocr with with option TEXT_DETECTION (low false positive, high false negative)</h2>
{% for ocr_pk in ocr_pks %}
  <a href="http://138.197.220.71:8886{% url 'viewer:overlaySignsFOV' ocr_pk=ocr_pk fov=180 %}">{% url 'viewer:overlaySignsFOV' ocr_pk=ocr_pk fov=180 %}</a> <br />
{% endfor %}
<br />
<br />
<br />



<h2>Instructions to adjust FOV (field of view)</h2>
Click on a link.<br /> 
Change last number in url to FOV (field of view) in degrees. Default 180. <br />
Example: If you want to change FOV from 180 to 70 degrees, change from: <br />
<a href="">http://127.0.0.1:8000/viewer/overlaySignsFOV/1587/180</a> into <br />
<a href="">http://127.0.0.1:8000/viewer/overlaySignsFOV/1587/70</a>

{% endblock %}


