{% block javascript %}
{% endblock %}

{% block body_block %}

<h1>ocr pk={{ocr.pk}}</h1>


<h2>Signs</h2>
{% for sign in ocr.sign_set.all %}
  <a href="{% url 'signs:detail' sign.pk %}">{{ sign.text }}</a> <br />
{% endfor %}


<h2> Raw json </h2>
{{ ocr.google_ocr_json }}

{% endblock %}


