{% block javascript %}
{% endblock %}

{% block body_block %}

<style type="text/css" media="screen">
    .image_container {
        position:relative;
        margin-bottom: 20px;
    }
    .green {
      float: left;
      position: absolute;
      background-color: green;
      opacity: 0.5;
      z-index: 1000;
      color: yellow;
      text-align: center;
      font-weight: bold;
      font-size: 15;
    }

    .green:hover {
        opacity:0
    }


    .gray {
        filter: grayscale(100%);
    }
</style>

<div class="image_container">
    {% for sign in signs %}
        <div style="left:{{ sign.x1 }}px;top:{{ sign.y1 }};width:{{ sign.width }}px;height:{{ sign.height }}px" class="green">
            {{ sign.text }} , ain={{ sign.ain}}
        </div>  
    {% endfor %}
    <img src="{{ocr.url_pano_image }}" class="gray"/> <br />

</div>

{% endblock %}


