{% load mathfilters %}

<h3>
  <a href="{% url 'viewer:ocr' ocr.pk %}">
    ocr pk = {{ ocr.pk }}
  </a>    
</h3>

<style>
  #overlay_container_{{ocr.pk}} {
    width: {{ ocr.width_pano|mul:1.1 }}px;
    height: {{ocr.height_pano|mul:1.1 }}px;
  }
</style>

<div id="overlay_container_{{ocr.pk}}">
<iframe src="{% url 'viewer:overlaySigns' ocr.pk %}" width="{{ ocr.width_pano|mul:1.1 }}" height="{{ ocr.height_pano|mul:1.1 }}" 
        style="-webkit-transform:scale(1);-moz-transform-scale(1)
               -moz-transform-origin: top left; -webkit-transform-origin: top left; -o-transform-origin: top left; -ms-transform-origin: top left; transform-origin: top left;">
</iframe>
</div>