<h2>
  <a href="{% url 'viewer:panorama' panorama.pk %}">Panorama pk = {{ panorama.pk }}</a>
</h2>

<a href="{{ panorama.url_pano_image }}">panorama image</a> <br />
<a href="{{ panorama.url_depth_image }}">depth image</a> <br />

date google car = {{ panorama.month }}-{{ panorama.year }} <br />
heading = {{ panorama.heading }} <br />
(lon,lat) = ( {{ panorama.lon }},{{panorama.lat}}) <br />
panorama id = {{ panorama.panoid }} <br />
address = {{ panorama.address }} <br />
num_links = {{ panorama.num_links }} <br />
MapPoint pk = {{ panorama.mapPoint.pk }} <br />
<iframe src="{% url 'panoramas:googleViewer' panorama.pk %}" width="620" height="320">
</iframe>