{% block javascript %}
{% endblock %}

{% block body_block %}

<style type="text/css" media="screen">
  .image_container {
      position:relative;
      margin-bottom: 20px;
  }
  .green {
    float: left;
    position: absolute;
    background-color: green;
    opacity: 0.5;
    z-index: 1000;
    color: yellow;
    text-align: center;
    font-weight: bold;
    font-size: 15;
  }

  .green:hover {
      opacity:0
  }


  .gray {
      filter: grayscale(100%);
  }
</style>



ocr_pk = {{ ocr.pk }} linked to panorama_pk = {{ ocr.panorama.pk }}
<br />


<div class="image_container">
    {% for sign in signs %}
        <div style="left:{{ sign.0 }}px;top:{{ sign.1 }};width:{{ sign.2 }}px;height:{{ sign.3 }}px" class="green">
            {{ sign.4 }}
        </div>  
    {% endfor %}
    <img src="{{ocr.url_pano_image }}" class="gray"/> <br />

</div>


<!--
<img src="{{ocr.url_pano_image }}" /> <br />
<a href="{{ocr.url_pano_image }}">panorama</a>
<br/>
<a href="{{ocr.url_depth_image }}">depth</a>
-->
<br />

{% for sign in ocr.sign_set.all %}
  {{ sign.text }} <br />
{% endfor %}


<br />

OCR run: {{ ocr.google_ocr_run }}
{{ ocr.google_ocr_json }}

{% endblock %}


